footer {
    border: 1px solid black;
    background-color: $footerColor;
    // height: $footerHeight;
    .footer-container {
        width: 100%;

        .container-list {
            
            display: flex;
            flex-direction: row;

            &-left {
                @include footerList;
                
            }

            &-center {
                @include footerList;

            }

            &-right {
                @include footerList;

            }

            &-contact {
                @include footerList;

            }

        }

        .container-copy {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }


    }

    
}