header {

    background-color: $navColor;


    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: $headerHeight;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $logoFontSize;
            background-color: $logoBackground;
            height: 100%;
            a {
                text-decoration: none;
                font-family: $firstFont;
                color: $logoColor;
                text-transform: uppercase;
                font-weight: bold;
                margin-left: 10px;
                margin-right: 10px;
                
            }
            
        }

        .menu {
            flex-grow:2;
            

            ul {
                list-style: none;

                li {
                    display: inline-block;
                    height: 100%;
                    margin-left: 8%;
                    color: $colorFont;
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        padding: 1em 1.5em;
                        font-size: $menuFontsize;
                        font-family: $firstFont;
                        font-weight: bold;
                        color: $colorFont;


                        &:hover {
                            color: $logoBackground;
                        }


                    }
                }

                

                

            }

        }

        .search-bar {
            // display: flex;
            // flex-direction: center;
            // align-items: center;
            padding-right: 100px;
            padding-bottom: 15px;

            input[type=text] {
                width: 100%;
                padding: 10px 10px;
                margin: 8px 0;
                border: none;
                border-bottom: 2px solid black;
            }
        }



        

    }


    .jumbo {
        @include image;
        height:600px;
        background-image: url("https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
        font-family: $thirdFont;
        animation: animate 16s ease-in-out infinite;

        @keyframes animate {
            0%,100%{
                background-image:url("https://images.unsplash.com/photo-1510074377623-8cf13fb86c08?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80");
            }

            25% {
                background-image: url("https://images.unsplash.com/photo-1498409785966-ab341407de6e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1960&q=80");
            }
            50% {
                background-image: url("https://images.unsplash.com/photo-1505327191481-d31e1fb4ff79?ixlib=rb-1.2.1&auto=format&fit=crop&w=2104&q=80");
            }
            75% {
                background-image: url("https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
            }
            75% {
                background-image: url("https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
            }
        }
        .selection {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            color:white;

            .little-title {
                padding-top: 100px;
                margin-bottom: 50px;
            }

            .title {
                text-align: center;
                font-size: 30px;
            }

            .final-title {
                margin-bottom: 50px;
            }

            .discover {

                padding-bottom: 100px;
                a {
                    padding: 10px;
                    border: 2px solid $logoBackground;
                    text-decoration: none;
                    color: $logoBackground;

                    &:hover {
                        background-color: $logoBackground;
                        color:white;
                    }
                }

            }
        }
    }
}