main {
    background-color: $mainColor;
    // height: $mainHeight;

    #history {
        p {
         color: $textColorFont;
        }
        .history-title {
            padding: 50px;
            font-size: 40px;
        }

        .history-top{
        
            &:after {
                content:"";
                display:table;
                clear:both;
            }

            .history-top-left {
                @include floatLeft;
                padding: 50px;
            }
            .history-top-right {
                @include floatLeft;
                padding: 50px;
            }
            

        }

        .history-middle {
            
            // border: 1px solid black;
             &:after {
                 content: "";
                 display: table;
                 clear: both;
             }
            .history-middle-left{
                @include floatLeft;
                @include main;
            }
            .history-middle-right {
                @include floatLeft;
                @include image;
                background-image: url("https://images.unsplash.com/photo-1474926025268-eace520a4b4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
            }
        }

        .history-bottom {
            margin-bottom: 50px;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .history-bottom-left {
                @include floatLeft;
                @include image;
                background-image: url("https://images.unsplash.com/photo-1505409859467-3a796fd5798e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
            }

            .history-bottom-right {
                @include floatLeft;
                @include main;
            }
        }

    }


    #press {
        height: 100%;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(220, 220, 220, 1) 50%);

        .history-title {
            padding: 50px;
            font-size: 40px;
        }

        .press-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 50px;
            padding-bottom: 50px;

            .press-left {
                width: 30%;
                padding: 50px;
                color: $textColorFont;
            }
            .press-center {
                width: 50%;
                // background-image: url("https://images.unsplash.com/photo-1505409859467-3a796fd5798e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
                // height: 100px;
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: cover;
                img {
                    height: 500px;
                }
            }
            .press-right {
                width: 20%;
                padding: 50px;
            }

            


        }
        
    }

    #discover {
        width: 100%;
        display: flex;
        margin-bottom: 50px;

        .discover-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .discover-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            &-top {
                display: flex;
                &-left {
                    width: 50%;
                    background-color: coral;
                    height: 300px;
                }

                &-right {
                    width: 50%;
                    background-color: lightblue;
                    height: 300px;

                }

            }
            &-bottom {
                display: flex;
                &-left {
                  width: 50%;
                  background-color:purple;
                  height: 300px;

                }
                &-right {
                    width: 50%;
                    background-color: grey;
                    height: 300px;
                }
            }

        }
        
    }

    #get {
        background-color: $logoBackground;
        .get-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

        }
    }

}