main {
    background-color: $mainColor;
    // height: $mainHeight;

    #history {
        .history-title {
            padding: 50px;
        }

        .history-top{
            border: 1px solid black;
            &:after {
                content:"";
                display:table;
                clear:both;
            }

            .history-top-left {
                @include floatLeft;
                padding: 50px;
            }
            .history-top-right {
                @include floatLeft;
                padding: 50px;
            }
            

        }

        .history-middle {
            
            border: 1px solid black;
             &:after {
                 content: "";
                 display: table;
                 clear: both;
             }
            .history-middle-left{
                @include floatLeft;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;

            }
            .history-middle-right {
                @include floatLeft;
                background-color: coral;
                height: 600px;
                //  img {
                //      
                //  }
            }
        }

        .history-bottom {
            border: 1px solid black;
            margin-bottom: 50px;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            

            .history-bottom-left {
                @include floatLeft;
                background-color: coral;
                height: 600px;
                // img {
                //     height: 100%;
                // }
            }

            .history-bottom-right {
                @include floatLeft;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;

            }
        }

    }


    #press {
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(220, 220, 220, 1) 50%);
        .press-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 50px;

            .press-left {
                width: 30%;
            }
            .press-center {
                width: 50%;
            }
            .press-right {
                width: 20%;
            }

            


        }
        
    }

    #discover {
        width: 100%;
        display: flex;
        margin-bottom: 50px;

        .discover-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .discover-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            &-top {
                display: flex;
                &-left {
                    width: 50%;
                    background-color: coral;
                    height: 300px;
                }

                &-right {
                    width: 50%;
                    background-color: lightblue;
                    height: 300px;

                }

            }
            &-bottom {
                display: flex;
                &-left {
                  width: 50%;
                  background-color:purple;
                  height: 300px;

                }
                &-right {
                    width: 50%;
                    background-color: grey;
                    height: 300px;
                }
            }

        }
        
    }

    #get {
        background-color: $logoBackground;
        .get-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

        }
    }

}