@mixin floatLeft {
    float: left;
    width: 50%;
}

@mixin footerList {
    width: 25%;

    ul {
        list-style: none;

        li {
            display: block;
        }

    }

}

@mixin footerListStyle {
      ul {
          li {
              padding: 10px;

              a {
                  text-decoration: none;
                  color: $textColorFont;
                  font-size: 15px;

                  &:hover {
                      color: white;
                  }
              }
          }
      }

}

@mixin main {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .title-one {
        padding-top: 100px;
        margin-bottom: 50px;
        font-family: $firstFont;
        font-weight: bold;
    }

    .title-two {
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .text {
        margin-bottom: 50px;
    }

    .discover {

        padding-bottom: 50px;

        a {
            padding: 10px;
            border: 2px solid $logoBackground;
            text-decoration: none;
            color: $logoBackground;

            &:hover {
                background-color: $logoBackground;
                color: white;
            }
        }

    }

}

@mixin image{
    background-color: whitesmoke;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}